<!DOCTYPE html>
<html>
    <head>
        <title>Any User</title>
    </head>
    <style>
            body{
                background-color:#a5cc82;
            }
    </style>
    <body>
        <h1 style="color:cyan">Tax Payer Personal Information</h1>
            <ul>
                <li>First Name---> <%= details[0].f_name %></li>
                <li>Last Name---> <%= details[0].l_name %></li>
                <li>Email---> <%= details[0].email %></li>
                <li>Date of Birth---> <%= details[0].dob %></li>
                <li>Aadhar Number---> <%= details[0].aadhar_no %></li>
                <li>Mobile Number---> <%= details[0].mobile %></li>
                <li>Job Type---> <%= details[0].noe %></li>
                <li>Main Street---> <%= details[0].addr_1 %></li>
                <li>Colony---> <%= details[0].addr_2 %></li>
                <li>City---> <%= details[0].city %></li>
                <li>State---> <%= details[0].state %></li>
                <li>Pincode---> <%= details[0].pincode %></li>
            </ul>
            <div>Go Back To <a href="/admin">Previous Page</a></div>
            <div>Go Back To <a href="/">Home Page</a></div>   
       
            
    </body>
</html> 


    